body{
    text-align: center;
  background-color: rgb(14, 160, 228);
}
div{
    width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    border-radius: 30px;
    text-decoration: none;
}
.card{
    border: 10px solid blue;
    border-radius: 30px;
    display: block;
    text-decoration: none;
}
li{
    font-size: 30px; 
    text-align: center;
     color: rgb(0, 0, 0);
}
